@media screen and (max-width: 1670px) {

    /* COLUMN 1 */
    .footer-logo > svg {
        width: 240px;
    }

    /* COLUMN 2 */
    .container-column_2 {
        padding-left: 70px;
    }

    /* COLUMN 3 */
    .consult-number-phone {
        font-size: 18px;
        line-height: 27px;
    }

    .email {
        font-size: 18px;
        line-height: 27px;
    }

    /* COLUMN 4 */
    .container-column_4 {
        padding-left: 50px;
        margin-right: 50px;
    }

    /* FOOTER BOTTOM */
    .instagram > svg {
        width: 35px;
        height: 49px;
    }

    .you-tube > svg {
        width: 35px;
        height: 49px;
    }
}

@media screen and (max-width: 1500px) {

    .main-container-footer {
        padding-top: 105px;
        padding-left: 100px;
        padding-right: 100px;
    }

    /* COLUMN 1 */
    .footer-logo > svg {
        width: 200px;
    }

    .contracts {
        font-size: 16px;
    }

    .requisites {
        font-size: 16px;
    }

    /* COLUMN 2 */
    .container-column_2 {
        padding-left: 55px;
    }

    /* COLUMN 3 */
    .container-column_3 {
        padding-left: 70px;
    }

    .consult-container-mbp {
        margin: auto 0 54px;
    }

    .consult-mbp {
        font-size: 16px;
        line-height: 24px;
    }

    .consult-number-phone {
        font-size: 16px;
        line-height: 24px;
    }

    /* COLUMN 4 */
    .container-column_4 {
        padding-left: 40px;
        margin-right: 40px;
    }

    .info {
        font-size: 16px;
        line-height: 24px;
    }

    .email {
        font-size: 16px;
        line-height: 24px;
    }

    .container-btn-write {
        width: 250px;
        height: 65px;
    }

    .btn-write {
        font-size: 16px;
        line-height: 18px;
    }

}

@media screen and (max-width: 1315px) {

    .main-container-footer {
        padding: 0;
    }

    .container-footer {
        display: block;
    }

    /* COLUMN 1 */
    .container-column_1 {
        width: 100%;
    }

    .container-footer-logo {
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    .footer-logo > svg {
        width: 290px;
        height: 46px;
    }

    /* COLUMN 2 */
    .container-column_2 {
        padding: 0;
    }

    .container-column_2 > li {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    /* COLUMN 3 */
    .container-column_3 {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0;
    }

}