@media  screen and (max-width: 1900px) {
    .down-container-navigation {
        white-space: normal;
    }
}

@media screen and (max-width: 1200px) {
    .hamburger-menu {
        width: 10px;
        height: 10px;
    }
}

@media screen and (max-width: 998px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {

}
