body {
    margin: 0;
    padding: 0;
    background-image: url('/images/picture-backgrounds.jpg');
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
}


/* main container */
.container-header {
    display: flex;
    justify-content: space-between;
    height: 152px;
    padding-left: 142px;
    background-color: rgb(0,0,0, 0.66);
}

/* logo */
.container-header-logo {
    height: 100%;
    width: 408px;
    margin-right: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-right: 1px gray solid;
    border-left: 1px gray solid;

    cursor: pointer;
}

/* upper header navigation */
.container-header-right {
    display: flex;
}

.container-header-navigation {
    padding-top: 18px;
}

.container-header-upper {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;

    margin-bottom: 18px;
}

.header-mark-city {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    cursor: pointer;
}

.header-city {
    margin-right: 45px;

    align-self: center;
    color: #c8b17a;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;

    border-bottom: 1px #c8b17a solid;
    padding-bottom: 3px;

    cursor: pointer;
}

.header-upper-number-phone {
    margin-right: 40px;

    color: white;
    font-family: sans-serif;
    font-size: 19px;

    transition: 0.3s ease;

    cursor: pointer;
}

.header-upper-number-phone:hover {
    transition: 0.3s ease;
    color: #c8b17a;
}

/* modal window */
.container-header-popup-change-city {
    display: grid;
    position: absolute;
    right: 325px;
    top: 50px;

    width: 240px;
    height: 0;
    overflow: hidden;
    background-color: white;

    transition: height 300ms ease;
}

.active {
    height: 180px;
    transition: height 300ms ease;
}

.popup-header-city {
    padding-top: 25px;
    padding-left: 20px;

    color: black;
    font-weight: bolder;
    font-size: 20px;
    font-family: sans-serif;
}

/* moscow */
.container-header-popup-svg-icon-moscow {
    display: flex;
    align-items: center;
    height: fit-content;
    padding-left: 20px;
}

.popup-icon-moscow {
    margin-right: 10px;
}

.popup-header-moscow {
    border-bottom: 1px solid black;

    font-family: sans-serif;
    font-size: 16px;
}

/* saint-petersburg */
.container-header-popup-svg-icon-saint-petersburg {
    display: flex;
    align-items: center;
    height: fit-content;
    padding-left: 20px;
    margin-bottom: 20px;
}

.popup-icon-saint-petersburg {
    margin-right: 10px;
}

.popup-header-saint-petersburg {
    border-bottom: 1px solid black;

    font-family: sans-serif;
    font-size: 16px;
}

/* down header navigation */
.header-nav-text {
    display: inline-block;
    margin-right: 40px;

    color: white;
    font-size: 18px;
    font-family: sans-serif;

    transition: 0.3s ease;

    cursor: pointer;
}

.header-nav-text:hover {
    color: #c8b17a;
    transition: 0.3s ease;
}

.down-number-phone {
    display: inline-block;
    margin-right: 40px;

    color: white;
    font-size: 28px;
    font-family: sans-serif;

    transition: 0.3s ease;

    cursor: pointer;
}

.down-number-phone:hover {
    transition: 0.3s ease;
    color: #c8b17a;
}

.hover-phone {
    transition: 0.3s ease;
    color: #c8b17a;
}

/* hamburger menu */
.container-header-hamburger {
    display: flex;
    justify-content: center;
    align-items: center;

    border-left: 1px gray solid;
    height: 152px;
    width: 160px;
}