body {
    margin: 0;
    padding: 0;
    background-image: url('/images/picture-backgrounds.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* main container */
.container-header {
    display: flex;
    align-items: center;
    height: 152px;
    padding-left: 142px;
    background-color: rgb(0,0,0, 0.66);
}

/* logo */
.container-logo {
    height: 100%;
    width: 408px;
    margin-right: 245px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-right: 1px gray solid;
    border-left: 1px gray solid;

    cursor: pointer;
}

/* upper header container */
.container-navigation {
    height: 100%;
}

.upper-header {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding-top: 18px;
}

.mark-city-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    cursor: pointer;
}

.city {
    margin-right: 40px;

    align-self: center;
    color: #c8b17a;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;

    border-bottom: 1px #c8b17a solid;
    padding-bottom: 3px;

    cursor: pointer;
}

/* change city */
.change-city-container {
    display: grid;
    overflow: hidden;
    position: absolute;
    right: 325px;
    top: 60px;

    width: 240px;
    height: 0;
    background-color: white;
}

.active {
    height: 180px;
}

.your-city {
    padding-top: 25px;
    padding-left: 20px;

    color: black;
    font-weight: bolder;
    font-size: 20px;
    font-family: sans-serif;
}

/* moscow */
.svg-icon-moscow {
    display: flex;
    padding-left: 20px;
    height: fit-content;
}

.moscow {
    align-self: center;
    margin-left: 10px;

    border-bottom: 1px solid black;

    font-family: sans-serif;
    font-size: 16px;
}

/* saint-petersburg */
.svg-icon-saint-petersburg {
    display: flex;
    padding-left: 20px;
    height: fit-content;
}

.saint-petersburg {
    align-self: center;
    margin-left: 10px;

    border-bottom: 1px solid black;
    font-family: sans-serif;
    font-size: 16px;
}

/* upper number phone */
.upper-number-phone {
    margin-right: 40px;

    color: white;
    font-family: sans-serif;
    font-size: 19px;

    transition: 0.3s ease;

    cursor: pointer;
}

.upper-number-phone:hover {
    transition: 0.3s ease;
    color: #c8b17a;
}

/* navigation */
.down-container-navigation {
    /*white-space: nowrap;*/
    padding-top: 12px;
}

.nav-text {
    margin-right: 40px;

    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: sans-serif;

    transition: 0.3s ease;

    cursor: pointer;
}

.nav-text:hover {
    color: #c8b17a;
    transition: 0.3s ease;
}

.number-phone {
    margin-right: 40px;

    color: white;
    font-size: 28px;
    font-family: sans-serif;

    transition: 0.3s ease;

    cursor: pointer;
}

.number-phone:hover {
    transition: 0.3s ease;
    color: #c8b17a;
}

.hover-phone {
    transition: 0.3s ease;
    color: #c8b17a;
}

/* hamburger-menu */
.hamburger-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;

    border-left: 1px gray solid;
    height: 152px;
    width: 160px;
}